<div class="container-fluid py-4 wrapper">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header d-flex flex-wrap justify-content-between align-items-center">

                    <div>
                        <h3>Departments</h3>
                    </div>

                    <div class="d-flex flex-wrap align-items-center">
                        <div class="input-group input-group-sm ">
                            <input type="text" class="form-control" #searchDepartment placeholder="Search"
                                aria-label="Search" aria-describedby="searchButton">
                        </div>

                        <button class="btn searchButton btn-primary" type="button"
                            (click)="SearchDept(searchDepartment.value)" id="searchButton">Search</button>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2 table-responsive wrapper">
                    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="Sorting($event)"
                        class="mat-elevation-z8 ">
                        <ng-container matColumnDef="deptId">
                            <th mat-header-cell *matHeaderCellDef>
                                Id</th>
                            <td mat-cell *matCellDef="let element">{{ element.deptId }}</td>
                        </ng-container>

                        <!-- EmailId Column -->
                        <ng-container matColumnDef="deptName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center-custom">
                                Department Name
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div
                                    *ngIf="!(isEdit === 0 || element.deptId !== i) || element.deptId !== editingDeptId">
                                    {{ element.deptName }}
                                </div>
                                <div *ngIf="(isEdit === 0 || element.deptId !== i) && element.deptId === editingDeptId">
                                    <input type="text" #deptInput value="{{element.deptName}}" class="inputField">
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="Actions">
                            <th mat-header-cell *matHeaderCellDef class="text-right">
                                Action
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="example-flex-container d-flex justify-content-end">
                                    <div
                                        *ngIf="(isEdit === 0 || element.deptId !== i) && element.deptId === editingDeptId">
                                        <button mat-icon-button (click)="saveButton(element.deptId)">
                                            <mat-icon>check_circle</mat-icon>
                                        </button>
                                        <button mat-icon-button color="warn" (click)="cancelButton(element.deptId)">
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </div>
                                    <div
                                        *ngIf="(isEdit === 0 || element.deptId !== i) && element.deptId !== editingDeptId">
                                        <button class="editButton" type="button" mat-icon-button
                                            (click)="updateButton(element.deptId)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button color="warn" (click)="deleteButton(element.deptId)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                </div>
                <div class="card-footer d-flex flex-wrap justify-content-between align-items-center">
                    <a>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add
                            Department</button>
                    </a>
                    <mat-paginator class="page" [pageSizeOptions]="[2, 5, 7, 10]" showFirstLastButtons
                        [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="DepartmentsCount"
                        (page)="onPageChange($event)">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Department</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <input type="text" #addDept placeholder="Enter Department Name" [(ngModel)]="modalValue"
                class="form-control">
            <button class="btn btn-primary addDept" (click)="addDepartment(addDept.value)" data-bs-dismiss="modal">Add
                Department</button>
            <button class="btn btn-danger addDept" (click)="resetModalValue()" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>