.modal-body {
    background: url("https://unsplash.com/photos/rNYCrcjUnOA") !important;
}

.input-group {
    width: 300px;
}

.form-control {
    border-radius: 0px;
    height: 50px;
    font-size: 16px;
}

.form-control2 {
    border-radius: 0px;
    height: 30px;
    margin: 10px !important;
    width: 50px;
    font-size: 16px;
}

abc {
    padding-top: 3px !important;
}

.searchButton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px
}

.addDept {
    border-radius: 0px !important;
    /* background-color: #6c757d !important; */
    margin: 0px !important;
}

button#searchButton {
    margin-bottom: 0;
}

table {
    counter-reset: section;
}

.counterr:before {
    counter-increment: section;
    content: counter(section);
}

.custom-mat-select {
    width: 100%;
    margin-right: 10px;
}

/* Optional: Add Bootstrap input styles to the mat-select */
.custom-mat-select .mat-select-trigger {
    border: 1px solid #000000;
    border-radius: 0.25rem;
    padding: 0.175rem 0.75rem;
    line-height: 1.5;
    background-color: #fff !important;
}

.custom-mat-select .mat-select-arrow {
    top: 38%;
    right: 8px;
}

.custom-mat-select .mat-select-placeholder {
    color: #6c757d;
    font-size: 0.875rem;
}


@media (max-width: 576px) {
    .input-group {
        max-width: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 400px) and (min-width: 200px) {


    .container-fluid {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        width: 100%;
        padding-right: 1px !important;
        padding-left: 1px !important;
        margin-right: auto;
        margin-left: auto;
    }
}