#addEmployeeOption,
#viewEmployeeOption {
    display: none;
}

#employeeOptions.active #addEmployeeOption,
#employeeOptions.active #viewEmployeeOption {
    display: block;
}

.custom-dropdown-menu {
    width: 50px;
}

.DashboardBG {
    background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/profile-layout-header.jpg');
    background-position-y: 50%;
}
.form-switch .form-check-input:checked {
    border-color:  rgba(29, 215, 50, 0.95);
    background-color: rgba(29, 215, 50, 0.95);
}

@media screen and (max-width: 400px) and (min-width: 200px) {
    .container-fluid {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        width: 100%;
        padding-right: 5px !important;
        padding-left: 5px !important;
        margin-right: auto;
        margin-left: auto;
    }
}